body {
	background: url("https://cdn0.vox-cdn.com/thumbor/KHLXwz3CLwjXzYCu7_wGaJDHecQ=/0x0:975x731/1200x800/filters:focal(0x0:975x731)/cdn0.vox-cdn.com/uploads/chorus_image/image/49531505/lego-software-designer_ekaterina_minaeva.0.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}
section {
	margin: 1em;
	padding: 1em;
	background: rgba(255,255,255, 0.5);
}
li {
	padding: 0.5em;
}